@import "tailwindcss";

@theme {
  --color-matte-sandal: #FFFBF2;
  --color-sindoor-red: #B22222;
  --color-golden-orange: #FF8C00;
  --color-soft-gold: #FFD700;

  --font-bengali: "Hind Siliguri", sans-serif;
  --font-heading: "Galada", cursive;
}

@layer base {
  body {
    background-color: var(--color-matte-sandal);
    font-family: var(--font-bengali);
    color: #1f2937;
    overflow-x: hidden;
  }
}